db.sqlite3
__pycache__/
**/__pycache__/
*.pyc
/venv
venv
/venv/

#----new commit

#python
*.py[cod]
*.so

#django
*.log
db.sqlite3
media/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Static / collected files
staticfiles/

# macOS
.DS_Store

# Editors
.vscode/
.idea/
